body {
  margin: 0;

  color: #515151;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 140%;
  font-weight: lighter;
}

blockquote {
  font-style: italic;
  padding-bottom: 20px;
}
