<div class="row about">
  <div class="col-md-8 col-md-offset-2">
    <h1>Bridge Troll</h1>
    <h2>Software by RailsBridge, for all Bridges!</h2>

    <%= render 'events/guidelines' %>
    
    <h2>Bridge Troll's Features for Organizers</h2>

    <h3>Planning Your Workshop</h3>

    <ul>
      <li>Manages RSVPs for students and volunteers, including RSVP limits, automatic waitlist logic, and the ability to close RSVPs at any time.</li>
      <li>Built-in student and volunteer surveys at the time of RSVP for their dietary needs, class level preference, and volunteers' technical and teaching backgrounds.</li>
      <li>Aggregate dietary restrictions view for easy catering ordering.</li>
      <li>Bridge Troll automatically reminds students and volunteers via email three days before the event.</li>
      <li>Organizers can email all attendees, various subgroups (i.e. confirmed students, waitlisted students, just volunteers, etc.), or specific attendees.</li>
    </ul>

    <h3>Managing Your Workshop</h3>

    <ul>
      <li>Easy check-in page to keep track of who actually shows.</li>
      <li>Organizers can designate “checkin-ers”, so anyone with a Bridge Troll account can help check people in.</li>
      <li>Automatic small-group sorting with drag & drop interface so organizers can tweak class divisions based on their needs</li>
      <li>Bridge Troll will email your attendees a short survey about how the workshop went.</li>
    </ul>

    <p>Want to learn more about planning a workshop? We've got a <a href="https://github.com/bridgefoundry/WorkshopCookbook/wiki/Cookbook">cookbook for organizers</a> with best practices, email templates,
      and lots of lists. Since it's a wiki, if you have something to add, all you need is a GitHub account to edit it! </p>

    <h2>Wanna help?</h2>
    <p>This project is open source! Head over to <a href="https://github.com/railsbridge/bridge_troll">our GitHub repo</a> to get started contributing. We love contributions from new and experienced programmers alike!</p>
  </div>
</div>
