<div class="row-fluid about">
  <div class="span8 offset2">
    <h1>Bridge Troll: Software by RailsBridge</h1>
    <h2>About RailsBridge</h2>
    <p>RailsBridge is an organization that helps people put on free workshops
      to teach Ruby, Rails, and other technologies to people who are
      under-represented in technology. A typical workshop is 1.5 days, beginning with a Friday evening “Installfest” where we get all the necessary technologies installed on the students’ laptops, and a Saturday workshop focused on demystifying the topic at hand and building something the student can share, be it a static website, a simple Rails app, or a Ruby script that prints “100 Bottles of Beer on the Wall.” </p>
    <p>
      Workshops range from 20 &ndash; 100 students and volunteers,
      and since we provide free food and childcare, they have quite a
      few moving parts to manage. In the past, workshops were organized
      trough a combination of Meetup or Eventbrite and Google Docs
      spreadsheets. This was okay, but we wanted to make organizing simpler,
      and we wanted to make studying our efficacy possible. So we built
      Bridge Troll!</p>

    <h2>Bridge Troll's Features</h2>

    <h3>Planning</h3>

    <ul>
      <li>Manages RSVPs for students and volunteers, including student RSVP limits and automatic waitlist logic.</li>
      <li>Built-in student and volunteer surveys at the time of RSVP for their dietary needs, class level preference, and volunteers' technical and teaching backgrounds.</li>
      <li>Aggregate dietary restrictions view for easy catering ordering.</li>
      <li>Bridge Troll automatically reminds students and volunteers via email three days before the event.</li>
      <li>Organizers can email all attendees or various subgroups (i.e. confirmed students, waitlisted students, just volunteers, etc.).</li>
    </ul>

    <h3>At the Workshop</h3>

    <ul>
      <li>Easy check-in page to keep track of who actually shows.</li>
      <li>Organizers can designate “checkin-ers”, so anyone with a Bridge Troll
        account can help check people in.</li>
      <li>Automatic small-group sorting with drag & drop interface so organizers can tweak class divisions based on their needs</li>
    </ul>

    <p>Want to learn more about planning a RailsBridge workshop? We've got a
      <a href="https://github.com/railsbridge/docs/wiki/Cookbook">cookbook for
        organizers</a> with best practices, email templates,
      and lots of lists. Since it's a wiki, if you have something to add,
      all you need is a GitHub account to edit it! </p>


    <h2>How Using Bridge Troll Helps RailsBridge</h2>
    <p>When every organizer uses a different set of spreadsheets, it’s really hard to take a bird's eye look at RailsBridge workshops. We want to study our attendance rates, how often students come back as volunteers, and how often new people are getting involved, and those things are pretty difficult to do without a centralized source of truth.</p>
    <p>Bridge Troll can be that centralized repository of workshop data, and the more organizers who use it, the more we can learn about RailsBridge.</p>

    <h2>What’s Next for Bridge Troll</h2>
    <p>We’ve got more features to add: workshops should have comments,
      there should be an automatic survey after the workshop,
      and it’d be cool to have a forecast of the likely attendance rate based
      on past attendance. If that sounds fun,
      please join us in <a href= "https://github.com/railsbridge/bridge_troll">building this software</a>.</p>
  </div>
</div>
