<div class='style-guide'>
  <h1 class='red-color'>Style Guide</h1>

  <h2>Colors</h2>

  <ul class='swatches'>
    <li>
      <div class='swatch red-color'></div>
      $red-color<br>
      (#E34D0B)
    </li>
    <li>
      <div class='swatch orange-color'></div>
      $orange-color<br>
      (#FFCC66)
    </li>
    <li>
      <div class='swatch yellow-color'></div>
      $yellow-color<br>
      (#FFF17F)
    </li>
    <li>
      <div class='swatch green-color'></div>
      $green-color<br>
      (#A5E587)
    </li>
    <li>
      <div class='swatch blue-color'></div>
      $blue-color<br>
      (#A5E587)
    </li>
    <li>
      <div class='swatch black-color'></div>
      $black-color<br>
      (#333333)
    </li>
  </ul>

  <h2>Site Background</h2>

  <div>
    <div class='background-swatch'></div>
    <div>background.png</div>
    <div>200px x 200 px</div>
  </div>

  <h1 class='red-color'>This is an H1</h1>
  H1 | Freehand 521 | 42px tall / 120% line height $red-color

  <h2>This is an H2</h2>
  H2 | Amble Light | 24px tall / 120% line height $black-color

  <h3>This is an H3</h3>
  H3 | Amble Light | 18px tall / 120% line height $black-color

  <h4>This is an H4</h4>
  H4 | Amble Regular | 14px tall / 120% line height $black-color

  <h5>This is an H5</h5>
  H5 | Amble Bold | 14px tall / 120% line height $black-color

  <div class='paragraph-sample'>
    &lt;p&gt; Body text | Amble Light | 15px tall / 140% line height #5F5F5F
    <p>Fixie single-origin coffee marfa freegan, locavore seitan polaroid fap tofu small batch post-ironic. Direct trade odd future blog next level, swag before they sold out twee gastropub raw denim etsy whatever photo booth. Narwhal irony odd future bespoke. Cred pork belly narwhal farm-to-table, 3 wolf moon 90's hoodie cray gluten-free polaroid sriracha helvetica ennui truffaut PBR. </p>
  </div>

  <h2>Buttons</h2>
  <div><a href="#" class="btn btn-primary">Volunteer</a></div>
  <p>P1 Button | Amble Light | 16px tall #4290CB + 1px #23507A dropshadow, no blur, 1px up Padding : 9px 16px 9px 16px | Background color : #4290CB</p>

  <div><a href="#" class="btn">Register</a></div>
  <p>P1 Button | Amble Light | 16px tall #4290CB + 1px #000000 dropshadow, no blur, 1px up Padding : 9px 16px 9px 16px | Background color : #23507A</p>

  <h2>Section Organizer</h2>

  <div class='bridgetroll-section'>
    <div class='title'>Conference Room A</div>

    <ul class='volunteers'>
      <li><div class='bridgetroll-badge volunteer'>V</div>Dejuan Gottlieb</li>
      <li><div class='bridgetroll-badge volunteer'>V</div>Boyd Emard</li>
      <li><div class='bridgetroll-badge volunteer'>V</div>Addison Dooley</li>
    </ul>

    <ul class='students'>
      <li><div class='bridgetroll-badge level1'>1</div>Olen Becker</li>
      <li><div class='bridgetroll-badge level2'>2</div>Arthur Botsford</li>
      <li><div class='bridgetroll-badge level3'>3</div>Noah Hermiston</li>
    </ul>
  </div>
</div>