<li>
  <% if user_signed_in? %>
    <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign In", new_user_session_path %>
  <% end %>
</li>
<li>
  <% if !user_signed_in? %>
    <%= link_to "Sign Up", new_user_registration_path %>
  <% end %>
</li>
<li>
  <% if user_signed_in? %>
    <%= link_to 'Add Your Skills',edit_user_registration_path %>
  <% end %>
</li>
