<% if user_signed_in? %>
  <li>
  <%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
  <div id = "sign_in"><%= button_to('Sign In', new_user_session_path)  %> </div>
  <div id = "sign_up"><%= button_to('Sign Up', new_user_registration_path) %> </div>
  </li>
<% end %>