#!/bin/env bash

export DIRENV_WARN_TIMEOUT=20s
# only necessary because of old ruby
export NIXPKGS_ALLOW_INSECURE=1

eval "$(devenv direnvrc)"

# --impure only necessary because of old ruby
use devenv --impure
