#!/bin/env bash

# if you're wondering what this file is:
# Bridge Troll uses devenv to setup local dependencies (ruby, postgres, etc.)
# with devenv alone, when you want to use your dev environment, you have to type `devenv shell`
#
# https://direnv.net/ makes it better!  this file is the entrypoint for direnv
# with devenv + direnv, whenever you enter the bridge troll directory, direnv will automatically drop you into your dev environment

export DIRENV_WARN_TIMEOUT=20s

eval "$(devenv direnvrc)"

# --impure only necessary because of old ruby
use devenv
