language: ruby
rvm:
  - 2.6.3
bundler_args: "--without development --without production --deployment"
cache:
  bundler: true
  directories:
    - node_modules
    - vendor/assets/bower_components

env:
  global:
    - "PATH=$PWD/node_modules/.bin:$PATH"

matrix:
  include:
  - env: FORCE_POSTGRES=true
    services:
    - postgresql
  - env: DO_NOT_FORCE_POSTGRES=true

before_install:
  - 'npm install'
  - 'echo ''gem: --no-ri --no-rdoc'' > ~/.gemrc'
  - 'gem update --system'
  - 'gem update bundler'
before_script:
  - 'bundle exec rake bower:install:development'
  - "./config/before-travis.sh"
script:
  - "bundle exec rake rspec_with_retries"
  - "bundle exec rake jasmine:ci"

sudo: false
