/*STRUCTURE*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

#both {
	width:1200px;
	margin: 20px auto 0px auto;
	border-radius: 30px;
	background-color: rgba(255, 255, 255, 0.8);
}

#left {
	float:left;
	width:580px;
	box-sizing: border-box;
	padding: 0 10px 20px 20px;
}

#right {
	float:right;
	width:600px;
	box-sizing: border-box;
	padding: 0 30px 0 10px;
}

/*TEXT STYLING*/

body {
	font-size: 12px;
	font-family: "Helvetica Neue", "Helvetica", "Liberation Sans", sans-serif;
	background-image: url('px_by_Gre3g.png');
}

h1 {
	text-align: center;
	font-size: 18px;
	font-family: 'Raleway', "Helvetica", "Liberation Sans", sans-serif;
	font-weight: 700;
	color: #052a6e;
}

p {
	margin-top: .7em;
	margin-bottom: .3em;
}

h2 {
	font-size: 16px;
	text-transform: uppercase;
	color: #A36100;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	margin-top: .8em;
	margin-bottom: .5em;
}

ul {
	color: white;
	list-style-type: none;
	background-color: black;
	padding: 3px;
	border-radius: 7px;
}

ul, .code {
	font-family: "Consolas", "Menlo", "Monaco", "Inconsolata", "Courier New", monospace;
}

