<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h1>Section Organizer Overview</h1>
    </div>
    <div class="modal-body">
      <h2>What is this?</h2>
      <p>This is a tool to organize students and volunteers in your workshop into
        individual sections (classrooms). The app starts from picks a reasonable
        set of initial assignments and you can drag and drop people into
        different classes as you feel appropriate.</p>

      <h2>How do I use it?</h2>
      <p><strong>Auto-Arrange</strong> can be used to give a good 'first draft' of section assignments
        assignments which you can tweak by dragging and dropping students and volunteers around.</p>
      <p>The names of sections should be the names of the conference rooms or areas where they
        are held. The <strong><i class="fa fa-edit"></i> Edit</strong> button on each section can change the name.</p>
      <p>At the event, you can display the section assignments somewhere conspicuous in
        'presentation mode' with the <strong><i class='fa fa-laptop'></i> Projector Mode</strong> button.</p>
    </div>
    <div class="modal-footer"></div>
  </div>
</div>