<div class='actions'>
  <button class='btn add-section'>Add Section</button>
  <a class='btn' href='sections/arrange' data-method='post' data-confirm='This will remove all existing sections and recreate them using COMPUTERS. Are you sure?'>Auto-Arrange Sections</a>
</div>