<div class='actions'>
  <button class='btn add-section'>Add Section</button>
  <a class='btn' href='sections/arrange' data-method='post' data-confirm='This will remove all existing sections and recreate them using COMPUTERS. Are you sure?'>Auto-Arrange All</a>
  <a class='btn' href='sections/arrange?checked_in=true' data-method='post' data-confirm='This will remove all existing sections and recreate them using COMPUTERS. Are you sure?'>Auto-Arrange Checked-In People</a>
</div>
<div class='bridgetroll-section-level level0'></div>
<div class='bridgetroll-section-level level1'>
  <div class='bridgetroll-section-title header level1'>Blue</div>
</div>
<div class='bridgetroll-section-level level2'>
  <div class='bridgetroll-section-title header level2'>Green</div>
</div>
<div class='bridgetroll-section-level level3'>
  <div class='bridgetroll-section-title header level3'>Gold</div>
</div>
<div class='bridgetroll-section-level level4'>
  <div class='bridgetroll-section-title header level4'>Orange</div>
</div>
<div class='bridgetroll-section-level level5'>
  <div class='bridgetroll-section-title header level5'>Purple</div>
</div>