body, p {
  font: 13px "Helvetica Neue", Helvetica; }

p {
  margin: 1em 0;
}
#container {
  width: 960px;
  margin: 0 auto; }

#header {
  font-size: 12px;
  background-color: #e0e0e0;
  padding: 10px;
  margin-bottom: 10px;
  overflow: hidden; }
  #header #logo {
    float: left;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
    #header #logo a {
      text-decoration: none; }
  #header #nav {
    float: right;
    list-style-type: none;
    overflow: hidden; }
    #header #nav li {
      display: inline;
      margin-right: 20px; }
    #header #nav li:last-child {
      margin-right: 0; }

#footer {
  font-size: 12px;
  background-color: #e0e0e0;
  padding: 10px;
  margin-top: 10px;
  overflow: hidden; }
  #footer .navigation {
    text-align: center;
    clear: both;
    list-style-type: none;
    overflow: hidden; }
    #footer .navigation li {
      display: inline;
      margin-right: 20px; }
    #footer .navigation li:last-child {
      margin-right: 0; }

li {
  list-style-type: none; }

#home_index h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
#home_index h2 {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
#home_index #photos {
  margin: 0 auto;
  background-color: #eeeeee;
  width: 600px;
  height: 200px;
  padding-top: 200px;
  text-align: center;
  color: #777777; }
#home_index p {
  text-align: center; }
  #home_index p#flash_notice {
    width: 450px;
    margin: 0 auto 20px;
    padding: 10px;
    color: #333333;
    background-color: #fff9d8;
    border: 1px dashed brown; }
  #home_index p.shirt_alert {
    font-size: 18px; }

#registrations_new button {
  margin: 0 auto;
  display: block;
  width: 100px;
  height: 30px;
  font-size: 15px; }
#registrations_new p {
  font-size: 14px;
  padding: 5px;
  line-height: 16px; }
#registrations_new h2 {
  margin: 20px 0; }
#registrations_new .big_question {
  padding: 10px;
  text-align: center; }
  #registrations_new .big_question p {
    text-align: center;
    color: #555555;
    font-weight: bold;
    font-size: 18px; }
  #registrations_new .big_question button {
    display: inline; }
  #registrations_new .big_question label {
    font-size: 16px; }
  #registrations_new .big_question textarea {
    width: 300px;
    height: 70px; }
#registrations_new #name_step #name_form_area {
  text-align: center; }
  #registrations_new #name_step #name_form_area .big_field {
    margin: 0 auto 10px;
    overflow: hidden;
    width: 400px; }
    #registrations_new #name_step #name_form_area .big_field label {
      color: #555555;
      font-weight: bold;
      font-size: 18px;
      float: left;
      width: 60px;
      text-align: right;
      margin-right: 10px;
      height: 40px;
      padding-top: 10px; }
    #registrations_new #name_step #name_form_area .big_field input {
      float: left;
      height: 40px;
      width: 300px;
      font-size: 18px; }
#registrations_new #sorting_step .class_description table {
  margin: 0 auto 10px;
  border-top: 1px black solid;
  border-left: 1px black solid; }
  #registrations_new #sorting_step .class_description table th, #registrations_new #sorting_step .class_description table td {
    border-right: 1px black solid;
    border-bottom: 1px black solid;
    width: 300px;
    padding: 10px;
    font-size: 14px; }
    #registrations_new #sorting_step .class_description table th li, #registrations_new #sorting_step .class_description table td li {
      font-size: 14px;
      line-height: 16px;
      margin-left: 25px;
      list-style-type: circle;
      padding: 5px 0; }
#registrations_new #sorting_step .class_description .button_row {
  text-align: center;
  margin-bottom: 100px; }
  #registrations_new #sorting_step .class_description .button_row button {
    display: inline;
    width: auto; }
#registrations_new #miscellaneous_step {
  margin-bottom: 100px; }
  #registrations_new #miscellaneous_step #registration_submit {
    margin: 0 auto;
    display: block;
    width: 100px;
    height: 30px;
    font-size: 18px;
    font-weight: bold; }
