<%= content_for(:header_text, "Users") %>

<table id="users-table" class="table table-striped table-bordered table-condensed responsive-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Meetup Profile</th>
      <th># Attended as Student</th>
      <th># Attended as Volunteer</th>
      <th># Organized</th>
    </tr>
  </thead>
</table>

<script>
  window.whenReady(function () {
    $('#users-table').DataTable({
      paging: true,
      pageLength: 10,
      serverSide: true,
      searching: false,
      sort: false,
      ajax: '/users.json',
      columns: [
        { data: 'link' },
        { data: 'meetup_id' },
        { data: 'student_rsvp_count' },
        { data: 'volunteer_rsvp_count' },
        { data: 'organizer_rsvp_count' }
      ]
    });
  });
</script>