<div class="form-group">
  <%= f.label :chapter_id %>
  <%= f.collection_select(:chapter_id, Chapter.order(:name), :id, :name, {prompt: true}, {class: 'form-control'}) %>
  <p>
    <em>If your chapter isn't in this list, head over to the <%= link_to 'chapters page', chapters_path %> and add it before you continue.</em>
  </p>
</div>
