<h2>Check-ins</h2>

<% @event.event_sessions.each do |session| %>
  <div class='session-attendance'>
    <h3><%= session.name %></h3>

    <div><%= @checkin_counts[:checkin][session.id] %>/<%= @checkin_counts[:rsvp][session.id] %> Checked In</div>
    <%= link_to "Check in for #{session.name}", event_event_session_checkins_path(@event, session), class: 'btn btn-small' %>
  </div>
<% end %>
