<div class="<%= local_assigns[:map_class] || 'gmaps4rails_map' %>" id="gmaps4rails_map"></div>
<%
  markers = Gmaps4rails.build_markers(locations) do |location, marker|
    marker.lat location.latitude
    marker.lng location.longitude
    if defined?(infowindow_template)
      marker.infowindow render(infowindow_template, location: location)
    end
  end
%>
<script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&libraries=geometry"></script>
<%= javascript_include_tag 'markerclustererplus/dist/markerclusterer.min.js' %>

<script>
  window.whenReady(function () {
    var handler = Gmaps.build('Google');
    handler.buildMap({provider: {}, internal: {id: 'gmaps4rails_map'}}, function(){
      var markers = handler.addMarkers(<%=raw markers.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      <% if locations.length == 1 %>
      handler.getMap().setZoom(15);
      <% end %>
    });
  });
</script>