<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <%= link_to events_path, class: 'app-name' do %>
      <%= image_tag asset_path('logo.svg') %>
    <% end %>
    <% if user_signed_in? %>
      <span class="nav-blurb">Found a bug? Or some unexpected behavior? <a href="https://github.com/railsbridge/bridge_troll/issues" target="_blank">Let us know</a>!</span>
    <% end %>
    <ul class="nav pull-right">
      <%= render :partial => "devise/menu/login_items" %>
    </ul>
  </div>
</div>
