<div class='organizer-action'>
  <%= link_to path, class: "organizer-action #{defined?(style) && style == :inline ? 'organizer-action-inline' : ''}", confirm: defined?(confirm) ? confirm : nil do %>
    <div class='organizer-action-button'>
      <i class='<%= icon %>'></i>
      <%= text %>
    </div>
  <% end %>
  <% if defined?(tip) %>
    <div class="organizer-button-tip">
      <%= tip %>
    </div>
  <% end %>
</div>
