<div class='organizer-action'>
  <%= link_to path, class: "organizer-action #{local_assigns[:style] == :inline ? 'organizer-action-inline' : ''}", data: { confirm: local_assigns[:confirm] } do %>
    <div class='organizer-action-button'>
      <i class='<%= icon %>'></i>
      <%= text %>
    </div>
  <% end %>
  <% if defined?(tip) %>
    <div class="organizer-button-tip">
      <%= tip %>
    </div>
  <% end %>
</div>
