<div class='organizer-action'>
  <% options = {
    class: "organizer-action",
    data: { }
  } %>
  <% options[:data][:confirm] = local_assigns[:confirm] if local_assigns[:confirm] %>
  <% options[:class] += ' organizer-action-inline' if local_assigns[:style] == :inline %>
  <% options[:method] = verb if local_assigns[:verb] %>
  <%= link_to path, options do %>
    <div class='organizer-action-button'>
      <i class='<%= icon %>'></i>
      <%= text %>
    </div>
  <% end %>
  <% if defined?(tip) %>
    <div class="organizer-button-tip">
      <%= tip %>
    </div>
  <% end %>
</div>
