<div class='rsvp-text'>
  <% if event.waitlisted_volunteer?(current_user) %>
    You are on the volunteer waitlist for this event!
  <% elsif event.volunteer?(current_user) %>
    You are signed up to volunteer for this event!
  <% elsif event.waitlisted_student?(current_user) %>
    You are on the student waitlist for this event!
  <% elsif event.student?(current_user) %>
    You are signed up to attend this event!
  <% end %>
</div>
<% if event.attendee?(current_user) %>
  <%= link_to 'Edit RSVP', edit_event_rsvp_path(event, event.rsvp_for_user(current_user)), class: 'btn' %>
  <%= link_to 'Cancel RSVP', event_rsvp_path(event, event.rsvp_for_user(current_user)), data: {confirm: 'Are you sure you want to cancel your RSVP?'}, method: :delete, class: 'btn' %>
<% end %>
<% if event.no_rsvp?(current_user) %>
  <% if event.allow_student_rsvp? %>
    <%= link_to student_attend_button_text(event), learn_new_event_rsvp_path(event), class: 'btn' %>
  <% end %>
  <%= link_to volunteer_attend_button_text(event), volunteer_new_event_rsvp_path(event), class: 'btn' %>
<% end %>
