<div id="sign_in_dialog" class="modal <% unless Rails.env.test? %>fade<% end %>" tabindex="-1" role="dialog" aria-labelledby="sign_in_dialogLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1>Sign in</h1>
      </div>
      <div class="modal-body">
        <%= render partial: "shared/sign_in" %>
        <%= render partial: "devise/shared/links", locals: {no_sign_up: true} %>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>