<div class="row">
  <div class="welcome-box">
    <div class="welcome-content">
      <div class="troll">
        <%= image_tag asset_path('troll_plus_logo.svg'), alt: '' %>
      </div>
      <div class="welcome-message">
        <h2>Do you want to learn to code with fun people? <%= link_to "Sign up", new_user_registration_path %> and RSVP for an event.</h2>
        <h2>Or, learn more <%= link_to "about Bridge Troll",
                                                      about_path %>.</h2>
        <h2>This is open source software, so feel free to <%= link_to "peruse our code.", "http://www.github.com/railsbridge/bridge_troll" %></h2>
      </div>
    </div>
  </div>
</div>
