<div id="home_index">
  <% if flash[:notice] %>
  <p id="flash_notice"><%= flash[:notice] %></p>
  <% end %>
</div>

<h1>Upcoming Events</h1>
<%= render :partial => "events/list", :locals => {:events => @upcoming} %>

<h1>Past Events</h1>
<%= render :partial => "events/list", :locals => {:events => @past} %>

<p><%= link_to "Create a workshop", new_event_path, :class => "bigrounded black button" %></p>
