<div id="home_index">
  <h1>Workshop volunteers, we want to give you a t-shirt.</h1>
  <h2>But you need to sign up here to get one.</h2>
  
  <% if !user_signed_in? %>
  <p><%= link_to 'Sign up!', new_user_registration_url %></p>
  <% else %>
  <h3>YOU IS SIGNED IN!</h3>
  <% end %>
</div>

