<td><%= link_to event.title, event %></td>
<td><%= formatted_session_date(event.event_sessions.first) %></td>
<td><%= formatted_session_timerange(event.event_sessions.first) %></td>
<td><%= event.location.name rescue nil %></td>