<h2 class="mb-10-only">Guidelines for *Bridge workshops</h2>
  <p>
  <a href="http://bridgefoundry.org/">Bridge Foundry</a>'s mission is to
  empower people with technology through teaching and facilitating access,
  enlarging the community of people who give back and teach others.
  </p>

  <p>    
  Anyone can use our open source curricula, but to use this website
  and promote your event as a Bridge event, you must be aligned with our
  mission and follow our guidelines below.  You can also work with us 
  more closely and receive additional support and resource from us. If 
  you are interested in learning more about leading an operational chapter, 
  see our <a href="https://operations.bridgefoundry.org/">operations guide</a>.
  </p>

    <p>All workshops hosted on Bridge Troll must:</p>
    <ul class="margined bulleted">
      <li><strong>Be free</strong></li>
      <li><strong>Explicitly reach out to an underrepresented group.</strong></li>
    </ul>
    <p>This doesn't necessarily preclude members of a dominant group attending the workshop. Some past events have had
      the following guidelines, for example:</p>
    <ul class="margined bulleted">
      <li>Men can come as a guest of a woman</li>
      <li>People of color and their friends</li>
      <li>LGBTQ folks only</li>
    </ul>
    <p>Workshops that don't allow guests from outside the target demographic are totally okay, too. </p>
