<%= content_for(:header_text, @event.title) %>
<%= content_for(:header_link, event_path(@event)) %>

<div class="row">
  <div class="col-md-8 event-form">
    <h1>Editing event</h1>
    <%= render 'form' %>
  </div>
  <div class="col-md-4 event-form-sidebar"></div>
</div>

