<div class="row-fluid has-giant-header">
  <div class="span7">
    <h1>Organize an Event</h1>
  </div>
</div>
<%= render 'form' %>

<%= render 'shared/actions', links: [
  ['Back', events_path],
  ['Manage Locations', locations_path]
] %>
