<%= content_for(:header_text, 'Organize an Event') %>

<div class="row">
  <div class="col-md-8 event-form">
    <h2 class="mb-10-only">Guidelines for *Bridge workshops</h2>

    <p>All workshops hosted on Bridge Troll must:</p>
    <ul class="margined bulleted">
      <li><strong>Be free</strong></li>
      <li><strong>Explicitly reach out to an underrepresented group.</strong></li>
    </ul>
    <p>This doesn't necessarily preclude members of a dominant group attending the workshop. Some past events have had
      the following guidelines, for example:</p>
    <ul class="margined bulleted">
      <li>Men can come as a guest of a woman</li>
      <li>People of color and their friends</li>
      <li>LGBTQ folks only</li>
    </ul>
    <p>Workshops that don't allow guests from outside the target demographic are totally okay, too. </p>
    <%= render 'form' %>
  </div>
</div>
