<%= content_for(:header_text, 'Organize an Event') %>

<div class="row">
  <div class="col-md-8 event-form">
  <%= render 'guidelines' %>
  <%= render 'form' %>
  </div>
  <div class="col-md-4 event-form-sidebar"></div>
</div>
