<%= content_for(:header_text, 'Organize an Event') %>

<h2>Guidelines for RailsBridge workshops</h2>
<h4>All RailsBridge workshops must:</h4>
<ul>
  <li><strong>Be free</strong></li>
  <li><strong>Explicitly reach out to an underrepresented group.</strong></li>
</ul>

<h4>It is fine to put limits on attendees, for example:</h4>
<ul>
  <li>Men can come as a guest of a woman</li>
  <li>Only for experienced programmer who happen to be women</li>
  <li>People of color and their friends</li>
</ul>

<h2>Event Details</h2>

<%= render 'form' %>

<%= render 'shared/actions', links: [
  ['Back', events_path],
  ['Manage Locations', locations_path]
] %>
