    <div class='past-events'>
      <h1>Past events</h1>
      <p>Hundreds of workshops in dozens of cities around the world have been
      organized and taught by volunteers, based on our open source curricula.</p>
      <%= render 'shared/past_events_table' %>
    </div>
