<h1>Events attended by <%= @user.full_name %></h1>

<%= render 'shared/rsvps', rsvps: @rsvps %>

<ul class='actions'>
  <li class='btn'><%= link_to 'Meetup User Index', meetup_users_path %></li>
</ul>