<% @rsvp.dietary_restrictions ? diets = @rsvp.dietary_restrictions.map { |diet| diet.restriction } : diets = [] %>

<% DietaryRestriction::DIETS.each do |diet| %>
  <div class="checkbox_row">
    <%= label_tag do %>
      <%= check_box_tag("dietary_restrictions[#{diet}]", 1, diets.include?(diet)) %>
      <%= diet.capitalize %>
    <% end %>
  </div>
<% end %>
<%= f.input :dietary_info, label: "Other" %>