<%= content_for(:header_text, @event.title) %>

<div class="span8">
  <h2>RSVP</h2>

  <h3>AWESOME - you're almost signed up!</h3>

  <%= render 'form' %>

  <%= render 'shared/actions', links: [
    ['Back', events_path]
  ] %>
</div>
