@import 'font_mixins';

.event-form {
  h2 {
    margin: 30px 0 5px 0;
    @include font-amble-bold;
  }

  .mb-10-only {
    margin: 0 0 10px;
  }

  h3 {
    @include font-amble-bold;
  }

  label {
    @include font-amble-bold;
    font-size: 16px;
  }

  .non-bolded {
    label {
      font-size: 15px;
      @include font-amble-light;
    }
  }

  em {
    font-size: 14px;
  }

  li {
    font-size: 15px;
  }

  .session-checkboxes label {
    margin-right: 12px;
  }

  .event-new-save-draft {
    background-color: peachpuff;
    color: black;
    &:hover {
      background-color: #FF9900;
    }
  }
}

