@import 'font_mixins';

.event-form {
  h2 {
    margin: 30px 0 5px 0;
    @include font-amble-bold;
  }

  .mb-10-only {
    margin: 0 0 10px;
  }

  h3 {
    @include font-amble-bold;
  }

  label {
    @include font-amble-bold;
    font-size: 16px;
  }

  .non-bolded {
    label {
      font-size: 15px;
      @include font-amble-light;
    }
  }

  em {
    font-size: 14px;
  }

  li {
    font-size: 15px;
  }

  .session-checkboxes label {
    margin-right: 12px;
  }

  .event-new-save-draft {
    background-color: peachpuff;
    color: black;
    &:hover {
      background-color: #FF9900;
    }
  }

  section {
    // Add padding with generated content to reduce accordion jankiness
    &:after {
      display: block;
      content: '';
      padding-bottom: 20px;
    }
  }
}

.form-section-header-expander {
  text-align: right;
}

.form-section-header {
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 18px 0;
  position: relative;
  cursor: pointer;

  background: #eeeeee;
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);

  &, &:link, &:hover {
    color: black;
    text-decoration: none;
  }

  &:after {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    content: '▲';
  }

  &.collapsed {
    &:after {
      content: '▼';
    }
  }
}

.hint-toggler {
  float: right;
  &:before {
    cursor: pointer;
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    content: '?';
  }

  &:hover:before {
    background-color: black;
    color: white;
  }
}

.hint-content {
  display: none;
}