.organizer-breadcrumb {
  font-size: 18px;
  strong {
    font-size: 24px;
  }
  margin-bottom: 20px;
  padding-bottom: 8px;
  border-bottom: 1px dashed rgb(209, 209, 209);
}

.organizer-dashboard-title {
  font-size: 28px;
  margin: 12px 0;
}

.organizer-action {
  text-align: center;
  font-size: 14px;
  margin-right: 10px;
  display: inline-block;

  @media (max-width: $phone-width) {
    margin-bottom: 10px;
    width: 100%;
  }

  &.organizer-action-inline {
    i {
      display: inline;
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  &:hover, &:focus {
    text-decoration: none;
  }

  .organizer-action-button {
    border-radius: 5px;
    padding: 8px;
    color: $blue-color;
    @include background(linear-gradient(0deg, #ddd 30%, #eee 70%));

    &:hover {
      @include background(linear-gradient(0deg, #ccc 30%, #ddd 70%));
    }
  }

  i {
    font-size: 36px;
    display: block;
    margin-bottom: 8px;
  }
}

.organizer-dashboard-section {
  margin: 30px 0;
}

.section-arranger-link {
  font-size: 32px;

  .section-arranger-link-text {
    margin-left: 15px;

    @media (max-width: $phone-width) {
      margin: 0;
      font-size: 24px;
      text-align: center;
      display: inline-block;
      width: 100%;
    }
  }
}

.session-attendance {
  vertical-align: top;
  display: inline-block;
  margin-right: 20px;
  border: 1px solid rgb(205, 205, 228);
  padding: 7px;

  @media (max-width: $phone-width) {
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
  }

  .btn.btn-small {
    font-size: 12px;
    background: rgb(194, 230, 255);
    color: black;
    padding: 3px 4px;
  }
}