.organizer-dashboard-title {
  font-size: 28px;
  margin: 12px 0;
}

.organizer-action {
  text-align: center;
  font-size: 14px;
  margin-right: 10px;
  display: inline-block;

  &:hover, &:focus {
    text-decoration: none;
  }

  .organizer-action-button {
    border-radius: 8px;
    padding: 8px;
    color: $blue-color;
    @include background(linear-gradient(0deg, #ddd 30%, #eee 70%));

    &:hover {
      @include background(linear-gradient(0deg, #ccc 30%, #ddd 70%));
    }
  }

  i {
    font-size: 36px;
    display: block;
    margin-bottom: 8px;
  }
}

.organizer-dashboard-section {
  margin: 30px 0;
}

.section-arranger-link {
  font-size: 32px;

  .section-arranger-link-text {
    margin-left: 15px;
  }
}

.session-attendance {
  vertical-align: top;
  display: inline-block;
  margin-right: 20px;
  border: 1px solid rgb(205, 205, 228);
  padding: 7px;

  .btn.btn-small {
    font-size: 12px;
    background: rgb(194, 230, 255);
    color: black;
    padding: 3px 4px;
  }
}