.location-display {
  margin-bottom: 20px;
}

.no-show {
  color: #BBB;
}

.rsvp-actions {
  margin-bottom: 20px;

  .rsvp-text {
    font-weight: bold;
    margin-bottom: 5px;
  }
}

.critical-details {
  margin-bottom: 20px;
  font-size: 18px;

  div {
    &:first-child {
      padding-bottom: 10px;
      font-size: 30px;
      font-weight: 600;

      &::before {
        content: "@";
        color: $darkgray-color;
      }
    }
  }
}