<%= @sender.full_name %> has something to say about <%= @event.upcoming? ? 'an upcoming event' : 'a past event' %>:

<p><%= sanitize(@body).gsub(/(\r)?\n/, "<br/>").html_safe %></p>

<p><%= link_to 'Check out this event on Bridge Troll by clicking this link!', event_url(@event) %></p>
