<div class="row">
  <div class="col-md-6">
    <%= simple_form_for(@chapter) do |f| %>
      <%= render 'shared/model_error_messages', model: @chapter %>

      <%= f.input :name, required: false %>

      <div class="actions">
        <%= f.submit class: 'btn btn-submit' %>
      </div>
    <% end %>
  </div>
</div>
