<%= content_for(:header_text, @chapter.name) %>

<h2>Events</h2>
<%= render 'shared/events_table', events: @chapter_events %>

<%= render 'shared/actions', links: [
  current_user.try(:admin?) ? ['Edit', edit_chapter_path(@chapter)] : nil,
] %>
