<p>Dear <%= @event.organizers.first.first_name %>,</p>

<p>
  Congratulations! Your event <%= @event.title %> has been approved. Our organization is entirely grass-roots and volunteer-run, so your contribution is really important. Thank you so much for organizing!
</p>
<p>
Next Steps:<br>
What's next? You've just posted your event to Bridgetroll, so you're probably about three weeks out. You can Check out the <a href="https://github.com/railsbridge/docs/wiki/Workshop-Planning-Timeline#somewhere-around-3-weeks-before">workshop timeline</a> to see what other organizers generally do around this time. You can find more details about using Bridgetroll <a href="https://github.com/railsbridge/docs/wiki/Workshop-Planning-Tasks#post-the-event-on-bridge-troll">here</a>.
</p>
<p>
  You're also always welcome to email <a href="https://groups.google.com/forum/#!forum/railsbridge-workshops">the organizers' mailing list</a> with questions, requests, panic, or jokes. We're all here to help.


</p>
<p>Sincerely,</p>
<p>The Troll</p>
