<p>Dear <%= @event.organizers.first.first_name %>,</p>

<p>
  We're so excited that you're organizing <%= @event.title %>! For spam-prevention and quality assurance, your event needs to be approved by a Bridge Troll admin before it is announced to your chapter and visible on the site.
</p>
<p>
  Admins are looking particularly to make sure that your event specifically states what underrepresented populations it is reaching out to, and that the workshop is free. (And they might tell you about any typos they find, or things that don't make sense, if they find either.)
</p>
<p>
  If you have any questions, or if it's been a day or two and you haven't heard anyone, please email bridgetroll@railsbridge.org.
</p>
<p>Sincerely,</p>
<p>The Troll</p>
