<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<%= @sender.full_name %> has something to say about an upcoming event:

<p><%= @body %></p>

<p>- The Troll</p>
</body>
</html>
