<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<%= @sender.full_name %> has something to say about an upcoming event:

<p><%= sanitize(@body).gsub(/(\r)?\n/, "<br/>").html_safe %></p>

<p><%= link_to 'Check out this event on Bridge Troll by clicking this link!', event_url(@event) %></p>

</body>
</html>
