<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p>Howdy, Bridge Troll administrator!</p>

<p>A new event, "<%= @event.title %>", has been posted to Bridge Troll!</p>

<%= render 'new_event_detail' %>

<% if @event.published %>
<p><%= link_to 'This event is already published, so you should be able to find it on the list of upcoming events!', events_url %></p>
<% else %>
<p><%= link_to 'Go see the list of unpublished events to see if this is worth approving!', unpublished_events_url %></p>
<% end %>

</body>
</html>
