$phone-width: 520px;

body {
  font-family: 'AmbleLight', sans-serif;
  background-image: url('/assets/background.png');
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  line-height: 120%;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Freehand521BT-RegularC', sans-serif;
  font-size: 42px;
  color: $red-color;

  @media (max-width: $phone-width) {
    font-size: 32px;
  }

  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: $red-color;
  }
}

h2 {
  font-family: 'AmbleRegular', sans-serif;
  font-size: 24px;
  line-height: 150%;
}

h3 {
  font-family: 'AmbleLight', sans-serif;
  font-size: 18px;
}

h4 {
  font-family: 'AmbleRegular', sans-serif;
  font-size: 14px;
}

h5 {
  font-family: 'AmbleBold', sans-serif;
  font-size: 14px;
}

strong {
  font-family: 'AmbleBold', sans-serif;
}

p {
  font-family: 'AmbleLight', sans-serif;
  line-height: 140%;
  font-size: 15px;
}

.field {
  margin-bottom: 20px;
}

table tr td .btn {
  margin: 0 20px;
}

td.wide {
  width: 20%;
}

.btn, .btn:focus {
  font-size: 16px;
  font-family: 'AmbleLight';
  padding: 9px 16px;
  border-radius: 0;

  background: $darkblue-color;
  color: white;
  border: none;
  text-shadow: none;
  box-shadow: none;

  &.btn-primary {
    background: $blue-color;
    text-shadow: none;
  }

  &.btn-submit {
    background: darken($green-color, 20%);

    &:hover {
      color: white;
      background: $green-color;
    }
  }
}

.remove-organizer form {
  margin-bottom: 0;
}

.ui-datepicker {
  z-index: 1031 !important;
}

.header-container {
  margin-top: 80px;

  @media (max-width: 980px) {
    margin-top: 0;
  }

  h1 {
    margin-bottom: 20px;
  }
}

.bridgetroll-content {
  margin: 0 auto;
  background-color: $content-background-color;
  padding: 20px;
}

.session-display {
  .event-session {
    margin: 0 40px 30px 0;
    display: inline-block;

    .date {
      font-weight: bold;
    }
  }
}

.actions {
  margin: 20px 0 0 0;
  list-style-type: none;

  li {
    display: inline-block;
    margin: 10px 10px 0 0;
  }
}

.event-sessions {
  .fields {
    margin: 10px 0;

    .datepicker {
      width: 85px;
    }

    .input-small:nth-of-type(odd) {
      width: 78px;
    }

    .input-small:nth-of-type(even) {
      width: 55px;
    }
  }

  .add_nested_fields {
    display: block;
    margin-bottom: 30px;
    outline: none;
    text-decoration: none;

    span {
      /* colors hijacked from bootstrap navbar */
      background-color: #777081;
      background-image: linear-gradient(to bottom, #857D91, #635D6B);
      border-radius: 5px;
      color: lightgrey;
      padding: 5px 10px;
      box-model: border-box;
    }
  }
}

.meetup-link {
  font-size: 8pt;
  color: darkgrey;
}

.gmaps4rails_map {
  width: 300px;
  height: 300px;
}

.location-display .gmaps4rails_map {
  width: 100%;
}

#map label {
  width: auto; display:inline;
}

.alert-action-needed {
  border-color: rgb(80, 80, 97);
  background-color: rgb(200, 200, 200);
  color: rgb(51, 51, 51);
  text-shadow: none;
}

.food-preferences {
  h2 {
    margin: 20px 0 5px 0;
  }
  li {
    list-style-type: disc;
    font-size: 18px;
  }
}

.row-long-fields {
  input {
    width: 650px;
  }
}

.checkbox_row {
  label {
    display: inline;
    margin-left: 5px;
  }
}

// BOOTSTRAP OVERRIDES, Yo. Frowny buckets.
.alert .button_to {
  float: right;
}

.alert .close {
  border:none;
}

.container::before,
.container::after { display: block; }

input[type="radio"],
input[type="checkbox"] {
  margin: 0;
  padding: 0;
}
