body {
  font-family: 'AmbleLight', sans-serif;
  background-image: url('/assets/background.png');
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  line-height: 120%;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Freehand521BT-RegularC', sans-serif;
  font-size: 42px;
  color: $red-color;
}

h2 {
  font-family: 'AmbleLight', sans-serif;
  font-size: 24px;
}

h3 {
  font-family: 'AmbleLight', sans-serif;
  font-size: 18px;
}

h4 {
  font-family: 'AmbleRegular', sans-serif;
  font-size: 14px;
}

h5 {
  font-family: 'AmbleBold', sans-serif;
  font-size: 14px;
}

p {
  font-family: 'AmbleLight', sans-serif;
  line-height: 140%;
  font-size: 15px;
}

textarea {
  width: 500px;
}

a {
  color: #22444D;
}

.field {
  margin-bottom: 20px;
}

table tr td .btn {
  margin: 0 20px;
}

td.wide {
  width: 20%;
}

.btn {
  font-size: 16px;
  font-family: 'AmbleLight';
  padding: 9px 16px;
  border-radius: 0;

  background: $darkblue-color;
  color: white;
  border: none;
  text-shadow: none;
  box-shadow: none;

  &.btn-primary {
    background: $blue-color;
    text-shadow: none;
  }
}

.remove-organizer form {
  margin-bottom: 0;
}

.ui-datepicker {
  z-index: 1031 !important;
}

.header-container {
  margin-top: 80px;
  width: 900px;

  h1 {
    margin-bottom: 20px;
  }
}

.bridgetroll-content {
  width: 900px;
  margin: 0 auto;
  background-color: $content-background-color;
  padding: 20px;
}

.session-display {
  .event-session {
    margin: 0 40px 30px 0;
    display: inline-block;

    .date {
      font-weight: bold;
    }
  }
}

.actions {
  margin: 20px 0 0 0;
  list-style-type: none;

  &.mission-control-actions {
    margin: 0 0 20px 0;
  }

  li {
    display: inline-block;
    margin: 10px 10px 0 0;
  }
}

.event-sessions {
  .fields {
    margin: 10px 0;

    .datepicker {
      width: 85px;
    }

    .input-small:nth-of-type(odd) {
      width: 78px;
    }

    .input-small:nth-of-type(even) {
      width: 55px;
    }
  }

  .add_nested_fields {
    display: block;
    margin-bottom: 30px;
    outline: none;
    text-decoration: none;

    span {
      /* colors hijacked from bootstrap navbar */
      background-color: #777081;
      background-image: linear-gradient(to bottom, #857D91, #635D6B);
      border-radius: 5px;
      color: lightgrey;
      padding: 5px 10px;
      box-model: border-box;
    }
  }
}

.meetup-link {
  font-size: 8pt;
  color: darkgrey;
}

.gmaps4rails_map {
  width: 300px;
  height: 300px;
}

#map label {
  width: auto; display:inline;
}

.meetup-association {
  border: 3px solid rgb(80, 80, 97);
  background-color: rgb(200, 200, 200);
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
}

// BOOTSTRAP OVERRIDES, Yo. Frowny buckets.

.container::before,
.container::after { display: block; }