table.checkins {
  th.checkins-name { width: 50%; }
  th.checkins-role { width: 20%; }
  th.checkins-action { width: 30%; }

  tbody td {
    img {
      margin-right: 10px;
    }

    vertical-align: middle;

    form {
      margin: 0;
    }
  }
}