.popover-content {
  ul {
    margin: 0 0 10px 10px;
    list-style-type: circle;
  }

  li {
    margin-bottom: 6px;
  }

  li:last-child {
    margin-bottom: 0;
  }
}

.checkins-action {
  &.saving {
    .toggle_rsvp_session {
      display: none !important;
    }
  }

  .destroy {
    display: none;
  }

  &.checked-in {
    .create {
      display: none;
    }
    .destroy {
      display: block;
    }
  }
}