$level-blue: #2F96B4;
$level-green: #51A351;
$level-gold: #fcaa2f;
$level-purple: #843178;
$level-orange: #e34d0b;

$red-color: #e34d0b;
$orange-color: #ffcc66;
$yellow-color: #fff17f;
$green-color: #a5e587;
$blue-color: #4290cb;
$darkblue-color: #23507a;
$black-color: #333;
$darkgray-color: #777;

.red-color {
  color: $red-color;
}

$content-background-color: white;