$red-color: #E34D0B;
$orange-color: #FFCC66;
$yellow-color: #FFF17F;
$green-color: #A5E587;
$blue-color: #4290CB;
$darkblue-color: #23507A;
$black-color: #333333;

.red-color {
  color: $red-color;
}

$content-background-color: white;