.welcome-box {
  width: 700px;
  margin: 0 auto 10px auto;
  padding: 15px;

  @media (max-width: $phone-width) {
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
  }
}

.welcome-content {
  margin: 0 3em;
  display: table;

  @media (max-width: $phone-width) {
    margin: 0;
    width: 100%;
  }
}

.welcome-message {
  vertical-align: top;
  display: table-cell;
  vertical-align: middle;

  h2 {
    font-size: 18px;
    text-align: center;
    & + h2 {
      margin-top: 10px;
    }

    @media (max-width: $phone-width) {
      font-size: 14px;
    }
  }
}

.troll {
  display: inline-block;
  padding-right: 20px;
  img {
    height: 145px;
    width: 190px;
    max-width: 190px;
  }

  @media (max-width: $phone-width) {
    display: none;
  }
}

.about {
  margin: 0 auto;
  padding: 10px;
  h2 {
    font-family: 'AmbleBold', sans-serif;
    margin: 20px 0 10px 0;
  }
  h3 {
    font-size: 20px;
    font-family: 'AmbleRegular', sans-serif;
    margin: 10px 0;
  }
  ul {
    font-size: 16px;
    li {
      list-style-type: disc;
      padding-bottom: 10px;
    }
  }
}
