@font-face {
  font-family: 'Freehand521BT-RegularC';
  src: font_url('freehand.woff') format('woff');
}

@font-face {
  font-family: 'AmbleLight';
  src: font_url('Amble-Light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmbleRegular';
  src: font_url('Amble-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmbleBold';
  src: font_url('Amble-Bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

