@import "bootstrap/variables";
@import "mixins";
@import "font_mixins";

form {
  .question {
    @include font-amble-regular;
    font-size: 16px;
    margin-top: 10px;
  }
}

@media (max-width: $screen-xs-max) {
  select.form-control {
    font-size: 16px;
  }
}

.rsvp-form {
  h2 {
    margin-top: 20px;
  }

  .details {
    font-style: italic;
  }
}

.survey-form {
  textarea {
    width: 100%;
    height: 150px;
  }

  label {
    @include font-amble-regular;
    font-size: 16px;
    margin-top: 10px;
  }

  input[type="submit"] {
    display: block;
    margin-top: 20px;
  }
}

.actions {
  .btn-warning {
    background-color: #f0ad4e;
    border-color: #eea236;
  }
}

@media (min-width: $screen-sm-min) {
  .checkbox-columns {
    width: 600px;
    &.checkbox-columns-small {
      width: 300px;
    }

    @include column-count(2);
  }
}
