@import "bootstrap/variables";
@import "compass/css3/columns";

form {
  .question {
    font-family: 'AmbleRegular', sans-serif;
    font-size: 16px;
    margin-top: 10px;
  }
}

#rsvp-form {
  h2 {
    margin-top: 20px;
  }

  .details {
    font-style: italic;
  }
}

#survey-form {
  textarea {
    width: 100%;
    height: 150px;
  }
  label {
    font-family: 'AmbleRegular', sans-serif;
    font-size: 16px;
    margin-top: 10px;
  }
  input[type="submit"] {
    display: block;
    margin-top: 20px;
  }
}

@media (min-width: $screen-sm-min) {
  .checkbox-columns {
    width: 600px;
    &.checkbox-columns-small {
      width: 300px;
    }

    @include column-count(2);
  }
}
