.navbar {
  .navbar-inner {
    background: #333;
    padding: 0 !important;

    @media (max-width: $screen-xs-max) {

      .nav {
        text-align: center;

        li {
          float: none;
          display: inline-block;

          a {
            display: inline-block;
            margin-right: 5px;
          }
        }
      }
    }
  }

  .nav li a { 
    color: white;
    text-shadow: none;
    margin-right: 20px;
    margin-top: 7px;
    margin-bottom: 7px;

    &:hover, &:focus {
      background: $orange-color;
    }
  }

  .nav-blurb {
    color: white;
    font-size: 12px;
    text-shadow: none;
    margin-left: 15px;
    line-height: 12px;
    position: relative;
    top: -2px;
    a {
      color: white;
      text-decoration: underline;
    }
    @media (max-width: 860px) {
      display: none;
    }
  }

  .app-name {
    background-color: $red-color;
    color: white;
    display: inline-block;
    text-decoration: none;
    padding-top: 10px;
    height: 44px;

    img {
      width: 170px;
      height: 40px;
    }
  }

  @media (max-width: $screen-xs-max) {
    .app-name {
      display: block;
      text-align: center;
    }
    .nav {
      width: 100%;
      display: block;
    }
  }
}
