.navbar {
  .navbar-inner {
    background: #333;
  }

  .nav li a { 
    color: white;
    text-shadow: none;
    margin-right: 20px;
    margin-top: 7px;

    &:hover {
      background: $orange-color;
    }
  }

  .nav-blurb {
    color: white;
    font-size: 12px;
    text-shadow: none;
    margin-left: 15px;
    line-height: 12px;
    position: relative;
    top: -20px;
    a {
      color: white;
      text-decoration: underline;
    }
  }

  .app-name {
    background-color: $red-color;
    color: white;
    display: inline-block;
    text-decoration: none;
    padding-top: 10px;

    svg {
      width: 170px;
      height: 40px;

      path {
        fill: white;
      }
    }
  }
}
