@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
  background-color: $from;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}

#level_buttons {
  .class_level_line {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  label {
    margin: 0;
    display: inline;
    line-height: 25px;
  }

  .label {
    margin: 0 2px;
    text-align: center;
    width: 45px;
    height: 22px;
    line-height: 22px;

    &.btn-blue {
      @include gradient(#5BC0DE, #2F96B4);
    }

    &.btn-green {
      @include gradient(#62C462, #51A351);
    }

    &.btn-gold {
      @include gradient(#efdc07, #fcaa2f);
    }

    &.btn-purple {
      @include gradient(#cb5fa7 21%, #843178 92%);
    }

    &.btn-orange {
      @include gradient(#ffa84c, #e34d0b);
    }
  }

  ul {
    list-style: circle;
  }

  .popover {
    max-width: 400px;
  }
}