@import "constants";

@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
  background-color: $from;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}

#level_buttons {
  .class_level_line {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  label {
    margin: 0;
    line-height: 20px;
  }

  .label {
    margin: 0 2px 5px 2px;
    text-align: center;
    width: 49px;
    height: 27px;
    line-height: 22px;
    display: inline-block;

    &.btn-blue {
      @include gradient(#5BC0DE, $level-blue);
    }

    &.btn-green {
      @include gradient(#62C462, $level-green);
    }

    &.btn-gold {
      @include gradient(#efdc07, $level-gold);
    }

    &.btn-purple {
      @include gradient(#cb5fa7 21%, $level-purple 92%);
    }

    &.btn-orange {
      @include gradient(#ffa84c, $level-orange);
    }

    &.btn-pink {
      @include gradient(#ff37a7, $level-pink);
    }

    &.btn-gray {
      background-color: #999999;
    }
  }

  ul {
    list-style: circle;
    margin-left: 25px;
    margin-bottom: 10px;
  }

  .popover {
    max-width: 400px;
  }
}
