#section-organizer {
  min-height: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;

  .actions {
    margin: 0 0 10px 0;
    display: block;
  }
}

$bridgetroll-section-border-color: #BBB;

.bridgetroll-section-level {
  vertical-align: top;
  display: inline-block;
  width: 175px;
  margin-right: 10px;
}

.bridgetroll-section-title {
  margin: -5px 0 5px 0;
  padding: 5px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  background-color: #555;
  border-bottom: 1px solid $bridgetroll-section-border-color;

  &.special {
    background-color: #AAA;
  }

  &.header {
    margin-bottom: 15px;
    color: white;

    &.level1 { background-color: $level-blue; }
    &.level2 { background-color: $level-green; }
    &.level3 { background-color: $level-gold; }
    &.level4 { background-color: $level-orange; }
    &.level5 { background-color: $level-purple; }
  }
}

.bridgetroll-section {
  border: 1px solid $bridgetroll-section-border-color;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 175px;
  vertical-align: top;

  .destroy {
    font-size: 2em;
    float: right;

    &:hover {
      cursor: pointer;
      color: #ff6167;
    }
  }

  .students:before, .volunteers:before {
    font-weight: bold;
    display: block;
    margin-left: 5px;
  }

  .students:before {
    content: 'Students';
  }

  .volunteers:before {
    content: 'Volunteers';
  }

  .students, .volunteers {
    margin: 0;
    min-height: 50px;

    li {
      line-height: 20px;
      padding: 2px 0;
    }
  }

  .volunteers:after {
    margin: 8px 0;
    content: ' ';
    display: block;
    border-bottom: 1px solid $bridgetroll-section-border-color;
  }

  .bridgetroll-badge {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    display: inline-block;
    margin: 0 5px;
    text-align: center;
    background-color: #CCC;
    color: white;

    &.volunteer { background-color: #777; }

    &.level1 { background-color: $level-blue; }
    &.level2 { background-color: $level-green; }
    &.level3 { background-color: $level-gold; }
    &.level4 { background-color: $level-orange; }
    &.level5 { background-color: $level-purple; }
  }

  .attendee.dragging {
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.75);
    padding: 2px 5px 2px 0;
  }
}

ul {
  list-style-type: none;
}
