#section-organizer {
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
}

.bridgetroll-section {
  border: 1px solid green;
  padding: 5px;
  width: 200px;

  .students {
    min-height: 50px;
  }
}

ul {
  list-style-type: none;
}