$linux-color: rgb(215, 255, 215);
$osx-color: rgb(215, 215, 255);
$windows-color: rgb(255, 215, 215);

#section-organizer {
  min-height: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;

  .actions {
    margin: 0 0 10px 0;
    display: block;
  }
}

.student-os-key {
  float: right;

  .swatch {
    height: 10px;
    width: 10px;
    margin-left: 20px;
    margin-right: 5px;
    display: inline-block;

    &.linux   { background-color: $linux-color; }
    &.osx     { background-color: $osx-color; }
    &.windows { background-color: $windows-color; }
  }
}

$bridgetroll-section-border-color: #BBB;

.bridgetroll-section-level {
  vertical-align: top;
  display: inline-block;
  width: 214px;
  margin-right: 10px;

  .showing-unassigned & {
    width: 175px;
  }

  &.level0 {
    display: none;

    .showing-unassigned & {
      display: inline-block;
    }
  }
}

.bridgetroll-section-title {
  margin: -5px 0 5px 0;
  padding: 5px 5px 5px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  background-color: #555;
  border-bottom: 1px solid $bridgetroll-section-border-color;

  &.special {
    background-color: #AAA;

    .title-text {
      width: 100%;
    }
  }

  &.header {
    margin-bottom: 15px;
    color: white;

    &.level1 { background-color: $level-blue; }
    &.level2 { background-color: $level-green; }
    &.level3 { background-color: $level-gold; }
    &.level4 { background-color: $level-orange; }
    &.level5 { background-color: $level-purple; }
  }

  .title-text {
    display: inline-block;
    width: 70%;
    width: calc(100% - 45px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.bridgetroll-section {
  border: 1px solid $bridgetroll-section-border-color;
  margin-bottom: 20px;
  border-radius: 5px;
  vertical-align: top;

  .actions {
    display: inline-block;
    float: right;

    span {
      font-size: 2em;
    }

    i {
      font-size: 1.5em;
    }

    i, span {
      &:hover {
        cursor: pointer;
      }

      &.destroy:hover {
        color: #ff6167;
      }

      &.edit:hover {
        color: rgb(71, 213, 156);
      }
    }
  }

  .students:before, .volunteers:before {
    font-weight: bold;
    display: block;
    margin-left: 5px;
  }

  .students:before {
    content: 'Students';
  }

  .volunteers:before {
    content: 'Volunteers';
  }

  .students, .volunteers {
    margin: 0;
    min-height: 50px;
  }

  .volunteers:after {
    margin: 8px 0;
    content: ' ';
    display: block;
    border-bottom: 1px solid $bridgetroll-section-border-color;
  }

  $attendee-height: 20px;

  .bridgetroll-badge {
    vertical-align: top;
    height: $attendee-height;
    width: $attendee-height;
    border-radius: 100%;
    display: inline-block;
    margin: 0 5px;
    text-align: center;
    background-color: #CCC;
    color: white;

    &.level0 { background-color: #777; }
    &.level1 { background-color: $level-blue; }
    &.level2 { background-color: $level-green; }
    &.level3 { background-color: $level-gold; }
    &.level4 { background-color: $level-orange; }
    &.level5 { background-color: $level-purple; }
  }

  .attendee {
    height: $attendee-height;;
    line-height: $attendee-height;;
    padding: 2px 0;

    .showing-os & {
      &.linux   { background-color: $linux-color; }
      &.osx     { background-color: $osx-color; }
      &.windows { background-color: $windows-color; }
    }

    .name {
      display: inline-block;
      overflow: hidden;
      width: 70%;
      width: calc(100% - 55px);
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .info {
      float: right;
      line-height: $attendee-height;;
      margin-right: 5px;
      cursor: pointer;
    }

    &.no-show {
      color: #BBB;
    }

    &.role3 {
      font-style: italic;
    }

    &.dragging {
      position: absolute;
      background-color: white;
      box-shadow: 0 0 10px rgba(50, 50, 50, 0.75);
      padding: 2px 5px 2px 0;

      .info {
        display: none;
      }
    }
  }
}

ul {
  list-style-type: none;
}

.bridgetroll-attendee-detail {
  .role {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .detail-header {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .detail {
    margin-bottom: 30px;
  }
}