table.checkins {
  th.checkins-name { width: 50%; }
  th.checkins-role { width: 20%; }
  th.checkins-action { width: 30%; }

  tbody td {
    img {
      margin-right: 10px;
    }

    vertical-align: middle;

    form {
      margin: 0;
    }

    .fa-check-square-o {
      margin-left: 20px;
      margin-right: 5px;
    }
  }
}

@media (max-width: $phone-width) {
  .checkins-table-container {
    margin-left: -10px;
    margin-right: -10px;
  }

  table.checkins {
    width: 100% !important;
    display: block;
    td {
      text-align: center;
    }
    th.checkins-action, td.checkins-action {
      font-size: 8px;
    }
    td .user-name {
      display: block;
      margin: 0 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 90px; // 100% doesn't work. sad :(
    }
    tr td .btn {
      margin: 0;
      width: 100%;
      font-size: 10px;
      padding: 5px;
      height: 44px;
    }
    tbody td {
      img {
        margin: 0;
      }
      .fa-check-square-o {
        margin-left: 0;
      }
    }
  }
}

table.attendees {
  th { width: 20%; }
  th.attendee-role { width: 10%; }
  th.attendee-waitlisted { width: 10%; }

  tbody td {
    img {
      margin-right: 10px;
    }

    vertical-align: middle;
  }
}

table.volunteer-roles {
  th { width: 20%; }

  tbody td {
    img {
      margin-right: 10px;
    }

    vertical-align: middle;
  }
}

table.sent-emails {
  .email-body {
    white-space: pre-wrap;
  }
}