.welcome-box {
  width: 700px;
  margin: 0 auto 10px auto;
  background-color: #fcfcfc;
  padding: 15px;

  @media (max-width: $phone-width) {
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
  }
}

.welcome-content {
  margin: 0 3em;
  display: table;

  @media (max-width: $phone-width) {
    margin: 0;
    width: 100%;
  }
}

.welcome-message {
  vertical-align: top;
  display: table-cell;
  vertical-align: middle;

  h2 {
    font-size: 20px;
    text-align: center;
    & + h2 {
      margin-top: 10px;
    }

    @media (max-width: $phone-width) {
      font-size: 14px;
    }
  }
}

.troll {
  display: inline-block;
  svg {
    height: 145px;
    width: 190px;
  }

  @media (max-width: $phone-width) {
    display: none;
  }
}