$tableBorder: #BFBFBF;

@import "constants";

@import "dataTables/jquery.dataTables.bootstrap";
@import "jquery.ui.datepicker";
@import "twitter/bootstrap";
@import 'twitter/bootstrap/responsive';
@import "select2";
@import "gmaps4rails";

@import "header";
@import "fonts";
@import "style_guide";

body {
  font-family: 'AmbleLight', sans-serif;
  background-image: url('/assets/background.png');
}

.ui-datepicker {
  z-index: 1031 !important;
}

table tr td .btn {
  margin: 0 20px;
}

.btn {
  font-size: 16px;
  font-family: 'AmbleLight';
  padding: 9px 16px;
  border-radius: 0;

  background: $darkblue-color;
  color: white;
  border: none;
  text-shadow: none;
  box-shadow: none;

  &.btn-primary {
    background: $blue-color;
    text-shadow: none;
  }
}

.remove-organizer form {
  margin-bottom: 0;
}

.container-fluid {
  margin-top: 80px;
}

.bridgetroll-content {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: $content-background-color;
  border-radius: 20px;
  padding: 10px 40px;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  line-height: 120%;
  padding: 0;
  margin: 10px 0 0 0;
}

h1 {
  font-family: 'Freehand521BT-RegularC', sans-serif;
  font-size: 32px;
}

h2 {
  font-family: 'AmbleLight', sans-serif;
  font-size: 24px;
}

h3 {
  font-family: 'AmbleLight', sans-serif;
  font-size: 18px;
}

h4 {
  font-family: 'AmbleRegular', sans-serif;
  font-size: 14px;
}

h5 {
  font-family: 'AmbleBold', sans-serif;
  font-size: 14px;
}

p {
  font-family: 'AmbleLight', sans-serif;
  line-height: 140%;
  font-size: 15px;
}

a {
  color: #22444D;
}

.field {
  margin-bottom: 20px;
}

.session-display {
  .event-session {
    margin: 0 40px 30px 0;
    display: inline-block;

    .name {
      font-size: 24pt;
      line-height: 40pt;
    }
    .date {
      font-weight: bold;
    }
  }
}

.actions {
  margin: 20px 0 0 0;
  list-style-type: none;

  li {
    display: inline-block;
  }
}

.event-sessions {
  .fields {
    margin: 10px 0;

    .datepicker {
      width: 85px;
    }

    .input-small:nth-of-type(odd) {
      width: 78px;
    }

    .input-small:nth-of-type(even) {
      width: 55px;
    }
  }

  .add_nested_fields {
    display: block;
    margin-bottom: 30px;
    outline: none;
    text-decoration: none;

    span {
      /* colors hijacked from bootstrap navbar */
      background-color: #777081;
      background-image: linear-gradient(to bottom, #857D91, #635D6B);
      border-radius: 15px;
      color: lightgrey;
      padding: 5px 10px;
      box-model: border-box;
    }
  }
}

.meetup-link {
  font-size: 8pt;
  color: darkgrey;
}

.map_container {
  width: 250px;
}

.gmaps4rails_map { 
  width: 250px;
  height: 250px;
}

#map label { 
  width: auto; display:inline; 
}

.meetup-association {
  border: 3px solid rgb(80, 80, 97);
  background-color: rgb(200, 200, 200);
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
}

footer {
  display: none;

  .trollholder {
    height: 113px;
    width: 224px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }

  svg {
    box-sizing: border-box;
    position: absolute;
    height: 133px;
    width: 224px;
    bottom: -19px;
  }
}