$navbarBackground: #635D6B;
$navbarBackgroundHighlight: #857D91;
$navbarText: #eee;
$navbarLinkColor: #eee;
$navbarLinkBackgroundHover: #CDC9D1;
$navbarBrandColor: #FFF;
$tableBorder: #BFBFBF;

@import "dataTables/jquery.dataTables.bootstrap";
@import "jquery.ui.datepicker";
@import "twitter/bootstrap";
@import 'twitter/bootstrap/responsive';
@import "select2";
@import "gmaps4rails";
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville|Unica+One|Raleway:400,600|Fjalla+One|Open+Sans);


body {
  background-color: #22444D;
  font-family: 'Open Sans', sans-serif;
}

.ui-datepicker {
  z-index: 1031 !important;
}

.navbar .brand {
  margin-left: 0;
}

table tr td .btn {
  margin: 0 20px;
}

.remove-organizer form {
  margin-bottom: 0;
}

.container-fluid {
  margin-top: 80px;
}

.bridgetroll-content {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #E0E0E0;
  border-radius: 20px;
  padding: 10px 40px;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  color: #503570;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

a {
  color: #22444D;
}

.field {
  margin-bottom: 20px;
}

.session-display {
  .event-session {
    margin: 0 40px 30px 0;
    display: inline-block;

    .name {
      font-size: 24pt;
      line-height: 40pt;
    }
    .date {
      font-weight: bold;
    }
  }
}

.event-detail-heading {
  font-size: 24pt;
  line-height: 40pt;
  background-color: rgb(114, 107, 123);
  text-align: center;
  border-radius: 10px;
  width: 50%;

&:after, &:before {
    content: '☆';
  }
}

.actions {
  margin: 20px 0 0 0;
}

.event-sessions {
  .fields {
    margin: 10px 0;

    .datepicker {
      width: 85px;
    }

    .input-small:nth-of-type(odd) {
      width: 78px;
    }

    .input-small:nth-of-type(even) {
      width: 55px;
    }
  }

  .add_nested_fields {
    display: block;
    margin-bottom: 30px;
    outline: none;
    text-decoration: none;

    span {
      /* colors hijacked from bootstrap navbar */
      background-color: #777081;
      background-image: linear-gradient(to bottom, #857D91, #635D6B);
      border-radius: 15px;
      color: lightgrey;
      padding: 5px 10px;
      box-model: border-box;
    }
  }
}

.meetup-link {
  font-size: 8pt;
  color: darkgrey;
}

.map_container {
  width: 250px;
}

.gmaps4rails_map { 
  width: 250px;
  height: 250px;
}

#map label { 
  width: auto; display:inline; 
}