/*
 *= require jquery-ui/datepicker
 */

$tableBorder: #BFBFBF;

@import "constants";

@import "compass/css3/images";

@import "bootstrap";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";
@import "select2";
@import "select2-bootstrap";

@import "font-awesome";

.fa-before:before {
  @extend .fa;
}
.btn.fa-before:before {
  margin-right: 10px;
}

@import "fonts";
@import "style_guide";
@import "base";
@import "header";
@import "footer";
@import "tables";
@import "section_organizer";
@import "checkins";

@import "events/index";
@import "events/show";
@import "events/organize";
@import "events/email";
@import "events/form";

@import "gravatars";

@import "devise";
@import "levels";
@import "form";
@import "profile";

@import "external_pages";
@import "utilities";

