.action {
	display:inline-block;
}


$border: 2px solid #e34d0b;
$radius: 4px;

#sign_in ul {
	
	display:none;
	background:white;
	position:absolute;
	margin-top: 0px;
	right: 50px;

	#spacer {
		height:10px;
		background:#333;
	}

	#sign_in_fields {
		border-right: $border;
		border-left: $border;
		border-bottom: $border;

		padding:10px;

		-webkit-border-bottom-left-radius: $radius;
		-moz-border-radius-bottomleft: $radius;
		border-bottom-left-radius: $radius;
		-webkit-border-bottom-right-radius: $radius;
		-moz-border-radius-bottomright: $radius;
		border-bottom-right-radius: $radius;
	}

}