.action {
	display:inline-block;
}

.modal-header, .modal-footer {
	background-image:url("/assets/background.png");
}

.sign-in {
  h3 {
    margin: 5px 0 10px 0;
  }

  @media (max-width: $phone-width) {
    .login-option:last-child {
      margin-top: 20px;
    }
  }
}

.external-auth {
  text-align: left;
  #sign_in_dialog & {
    text-align: center;
  }
  margin-left: 0;

  li {
    margin: 0 5px 5px 0;
    min-width: 75px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
  }
  &.external-auth-existing li {
    @media (max-width: $phone-width) {
      display: block;
    }
  }

  a, a:link, a:visited {
    text-decoration: none;
  }

  i {
    font-size: 48px;
    display: block;
  }
}