<div style="font-family: sans-serif;">
  <h2>Welcome to Bridge Troll, <%= @resource.first_name %>!</h2>

  <p>Click the link below to begin a magical journey to a RailsBridge workshop.</p>

  <%= link_to 'Confirm your account', confirmation_url(@resource, confirmation_token: @token), :class => 'btn' %>

  <p>
    P.S. Once you're confirmed, go to the Account page to link to your Meetup account (if you have one).
    This will import your RailsBridge attendance history.
  </p>
</div>
