$('#new-location-modal').modal('hide');
$('#new-location-modal form')[0].reset();

id = '<%= @location.id %>'

$location_select = $('#event_location_id')
$location_select.append("<option value='#{id}'><%= @location.name_with_region %></option>")
$location_select.val(id).trigger('change')
