<h2>Name:</h2>
<%= @location.name %>

<h2>Address:</h2>
<%= link_to pretty_print_address(@location), location_map_link(@location) %>

<%= render "shared/map", location: @location %>

<%= render 'shared/actions', links: [
  ['Edit', edit_location_path(@location)],
  ['Back', locations_path]
] %>