<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<p>
  <b>Address:</b>
  <%= @location.address_1 %>
</p>

<%= render "shared/map", location: @location %>

<%= render 'shared/actions', links: [
  ['Edit', edit_location_path(@location)],
  ['Back', locations_path]
] %>